@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Blaka+Hollow&display=swap');

* {
    scroll-behavior: smooth;
    margin-top: 10px;
}

:root{
    --fontHeader:'Blaka Hollow', cursive;
}

body {
    background-color: #77F2E4;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../imagens/jbBack.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

main {
    min-width: 150px;
    max-width: 800px;
    background-color:  #1abdadaf;
    margin: auto;
    margin-top: 10px;
    box-shadow: 5px 3px 9px black;
    position: relative;
}

header {
    padding-top: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #23bdabbe;
    width: auto;
    min-width: 400px;
    margin: auto;
    margin-top: 0px;
    max-width: 800px;
    box-shadow: 5px 5px 5px black;
}

header > h1 {
    font-variant: small-caps;
    text-align: center;
    color: #063442;
    font-size: 5em;
    font-family: var(--fontHeader);
}

a {
    text-decoration: none;
    color: #0404bcdc;
    font-size: 20px;
    transition-duration: 0.5s;
    border-radius: 3px;
}
a:visited, a:active {
    color: #0404bc;
}
a:hover {
    color: rgb(33, 19, 97);
    text-decoration: underline;
    background-color: #77f2e45d;
}
header > nav > a{
    color: #1e2505;
    padding-left: 7px;
    margin: 7px;
}
nav > a:hover {
    background-color: #187e72;
    color: rgb(3, 97, 89);
    text-decoration: none;
    transition-duration: 1s;
    border-radius: 3px;
}

table, th, td {
    border: 1px solid black;
}

th, td{padding: 5px;}

div.informacao {
    box-shadow: 2px 2px 4px black;
    padding-bottom: 4px;
}

.conteudo {
    background-color: #12746abd;
    font-family: cursive;
    padding: 10px;
}

img {
    padding: 10px;
    width: 200px;
    margin: auto;
}

p {
    text-align: justify;
    text-indent: 15pt;
}

h2 {
    background-color: #138A7E;
    text-align: center;
    font-size: 20px;
}

footer {
    background-color: #37706A;
    text-align: center;
}

.topo {
    position: absolute;
    right: 20px;
    bottom: 20px;
    outline: none;
    visibility: hidden;
    text-decoration: none;
    font-size: 40px;
    z-index: 1;
    opacity: 0;
    
}
.topo:hover {
    text-decoration: none;
    color: blue;
    background-color: transparent;
}
.topo::after {
    text-decoration: none;
    color: blue;
}
.topo.active{
    opacity: 1;
    visibility: visible;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

@media screen and (max-width: 650px) {
    nav a {
        display: block;
        text-align: center;
    }
    header > h1{
        font-size: 4em;
    }
}
